ngx-object-diff {

  pre {
    background-color: unset !important;
    border: none !important;
    color: white !important;
    line-height: 1.6 !important;
    padding: 0 !important;
  }

  .diff-level {
    margin-left: 20px;
  }

  del {
    text-decoration: none;
    display: block;
    background: none !important;
    color: inherit !important;
    margin-top: 2px;

    .old-value {
      display: inline-block;
      text-decoration: line-through;
      border-radius: 2px;
      background: rgba(63, 63, 67, 1) !important;
      color: rgba(255, 255, 255, 0.4) !important;
      padding: 0 3px;
    }
  }

  ins {
    left: 25px;
    color: white !important;
    background: rgba(10, 132, 255, 1) !important;
    border-radius: 2px;
    margin-top: 0 !important;
    padding: 0 3px;

    &::after {
      content: '=>';
      position: absolute;
      left: -19px;
    }
  }

  ins.diff-key,
  del.diff-key {
    border: none !important;
  }

  ins.diff,
  del.diff {
    display: inline-flex !important;
    align-items: start;

    span {
      color: inherit !important;
    }
  }
}
